$default: #333;

// Primary
$primary: #00b4ff;
$primary-dark: #0090cc;
$primary-bg: #d8f3ff;

// Other colors
$secondary: #ffab07;

// Gray colors
$black: #000;
$white: #fff;

$gray: #999;
$gray-dark: #666;
$gray-darker: #333;
$gray-light: #bdbdbd;
$gray-lighter: #dbdbdb;

$bg-color: #fafafa;
$border-color: #eee;

$list-box-shadow: 1px 0 4px rgba(0, 0, 0, .25);
$card-box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
$btn-box-shadow: 0 1px 4px rgba(0, 0, 0, .25);